---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="fixed inset-x-0 bottom-4 z-40 mx-8 flex h-10 md:h-14 items-center justify-between rounded-3xl border border-border bg-transparent px-4 shadow-sm saturate-100 backdrop-blur-sm transition-all duration-200 md:top-4 md:mx-8 md:max-w-full md:px-8"
>
  <div class="mx-auto flex h-10 md:h-14 w-full items-center justify-between">
    <div class="flex h-10 md:h-14 items-center">
      <a
        class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-hidden focus:opacity-80"
        href="/">Astro Blog</a
      >
    </div>
    <div class="flex items-center gap-x-2">
      <nav id="navbar">
        <Navigation />
      </nav>
      <ThemeIcon />
      <Menu />
    </div>
  </div>
</header>